
/*第五个banner*/
.five-banner{
  overflow: hidden;
  height: 750px;
  //background-image: url("./image/小山丘.png"), linear-gradient(#1C5BC3, #43B9EB );
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  color: #fff;
}
.five-banner-text{
  height: 550px;
  width: 800px;
  margin-left: 200px;
  margin-top: 120px;
}
.five-banner-text>h2{
  font-family: 'PingFangSC-Medium';
  line-height: 40px;
  font-size: 28px;
}
.five-banner-text>p{
  letter-spacing: 2px;
  position: relative;
  font-size: 18px;
  padding:10px 10px 50px 30px;
  border-left: 2px solid #52C3F1;
}
.five-banner-text>p>.someone{
  position: absolute;
  right: 5px;
  bottom: 10px;
}
.five-banner-text>.lean-more{
  background-color: #fff;
  font-size: 18px;
  margin-top: 25px;
  display: inline-block;
  color: #54C2F0;
  padding: 10px 40px;
}
.fontfamily{
  font-family: '宋体'
}
