
/*第三个banner*/
.three-banner{
  /*border: 1px solid red;*/
}
.three-banner > ul{
  background-color: #4A4A4A;
  height: 900px;
  display: flex;
}
.three-banner > ul >li{
  /*border: 1px slateblue solid;*/
  flex-grow: 1;
  text-align: center;
}

.three-banner-item1{
  //background-image: url("./image/背景图1.png");
}

.three-banner-item2{
  //background-image: url("./image/背景图2.png");
}
.three-banner-item3{
  //background-image: url("./image/背景图3.png");
}
.three-banner-item4{
  //background-image: url("./image/背景图4.png");
}

.three-banner > ul >li>div{
  padding-top: 200px;
  background-color: rgba(88, 88,88, 0.4);
  height: 100%;
  color: #fff;
}
.three-banner > ul >li>div>p{
  width: 240px;
  font-size: 18px;
  margin: auto;
  display: none;
}
/*.three-banner > ul >li>div:hover{
    background-color: rgba(84,194, 240, 0.8);
    padding-top: 100px;
}*/

.three-banner > ul >li>div>h3{
  margin-top: 60px;
  font-size: 28px;
}