/*第六个banner--最新消息*/
.six-banner {
  height: 800px;
  overflow: hidden;
/*border: 1px solid red;*/
  background-color: #fafafa;
  text-align: center;
}
.six-banner>h2 {
/*text-align: center;*/
  font-size: 30px;
  margin-top: 50px;
  color: #4a4a4a;
}
.six-banner>ul {
  overflow: hidden;
  display: inline-block;
  max-width: 1650px;
  background-color: #fafafa;
  text-align: left;
}
.six-banner>ul>li {
  float: left;
  border: 1px #d3d3d3 solid;
  width: calc((100% - 60px) / 3);
  height: 600px;
  margin: 10px;
  background-color: #fff;
  box-sizing: border-box;
}
.six-banner>ul>li>img {
  height: 240px;
  width: 100%;
}
.six-banner>ul>li>div {
  width: 80%;
  margin: auto;
  color: #4a4a4a;
}
.six-banner>ul>li>div>span {
  color: #9b9b9b;
}
.six-banner>ul>li>div>.read-more-btn {
  margin: auto;
  border: 1px solid #54c2f0;
  width: 146px;
  box-sizing: border-box;
  color: #54c2f0;
  padding: 10px 40px;
}
.six-banner>ul>li>div>.read-more-btn:hover {
  color: #fff;
  background-color: #54c2f0;
  cursor: pointer;
}
