/*第七个banner*/
.seven-banner {
  height: 350px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(-90deg, #7cdbf7 0%, #43b9eb 100%);
}
.seven-banner>h2 {
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.seven-banner>p {
  font-size: 30px;
  margin-bottom: 50px;
}
.seven-banner>.now-use-btn {
  padding: 10px 40px;
  background-color: #fff;
  color: #52c3f1;
}
